Ephesoft_Community_Release_4.0.2.0/source/dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/AutoKVLearning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Auto_Learning_KV_Params">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Advanced_KV" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
        <xsd:element name="Batch_Class" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="Document_Type" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="HOCR_File" minOccurs="0" maxOccurs="1" type="xsd:normalizedString">
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
