Ephesoft_Community_Release_4.0.2.0/source/dcma-batch/src/main/resources/META-INF/dcma-batch/schema/batch/Batch.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid XML Studio Developer Edition (Trial) 8.0.11.2171 
	(http://www.liquid-technologies.com) -->

<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bs="http://www.ephesoft.com/batch/batchStatus"
	xmlns:dir="http://www.ephesoft.com/batch/direction">
	<xs:import schemaLocation="Direction.xsd"
		namespace="http://www.ephesoft.com/batch/direction" />
	<xs:import schemaLocation="BatchStatus.xsd"
		namespace="http://www.ephesoft.com/batch/batchStatus" />
	<xs:include schemaLocation="Common.xsd" />
	<!-- <xs:include schemaLocation="BatchStatus.xsd"/> -->


	<!--<xs:annotation> <xs:appinfo> <jaxb:globalBindings > <xjc:superClass 
		name="java.lang.Object" /> </jaxb:globalBindings> </xs:appinfo> </xs:annotation> -->
	<xs:simpleType name="confidence">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="100" />
		</xs:restriction>
	</xs:simpleType>



	<xs:complexType name="field">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Value" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="Confidence" type="confidence" />
			<xs:element name="LearnedFileName" type="xs:string" />
			<xs:element name="OcrConfidenceThreshold" type="confidence" />
			<xs:element name="OcrConfidence" type="confidence" />
			<xs:element name="CoordinatesList">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Coordinates"
							type="coordinates" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Page" type="xs:string" />
			<xs:element name="OverlayedImageFileName" type="xs:string" />
			<xs:element name="FieldOrderNumber" type="xs:int" />
			<xs:element name="FieldValueOptionList" type="xs:string" />
			<xs:element name="ForceReview" type="xs:boolean" />
			<xs:element name="readOnly" type="xs:boolean" />
			<xs:element name="FieldValueChangeScript" type="xs:boolean" />
			<xs:element name="ExtractionName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="docField">
		<xs:complexContent>
			<xs:extension base="field">
				<xs:sequence>
					<xs:element name="AlternateValues">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" maxOccurs="unbounded" name="AlternateValue"
									type="field" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PreviousValue" type="docField" />
					<xs:element name="Category" type="xs:string" />
					<xs:element name="hidden" type="xs:boolean" />
					<xs:element name="widgetType" type="xs:string" />
					<xs:element name="scriptEnabled" type="xs:boolean" />
					<xs:element name="Message" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="page">
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string" />
			<xs:element name="OldFileName" type="xs:string" />
			<xs:element name="NewFileName" type="xs:string" />
			<xs:element name="PageLevelFields">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="PageLevelField"
							type="docField" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HocrFileName" type="xs:string" />
			<xs:element name="ThumbnailFileName" type="xs:string" />
			<xs:element name="ComparisonThumbnailFileName" type="xs:string" />
			<xs:element name="DisplayFileName" type="xs:string" />
			<xs:element name="OCRInputFileName" type="xs:string" />
			<xs:element name="Direction" type="dir:direction" />
			<xs:element name="IsRotated" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="column">
		<xs:complexContent>
			<xs:extension base="field">
				<xs:sequence>
					<xs:element name="Valid" type="xs:boolean" />
					<xs:element name="ValidationRequired" type="xs:boolean" />
					<xs:element name="AlternateValues">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" maxOccurs="unbounded" name="AlternateValue"
									type="field" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="headerRow">
		<xs:sequence>
			<xs:element name="Columns">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Column"
							type="column" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="row">
		<xs:sequence>
			<xs:element name="RowCoordinates" type="coordinates" />
			<xs:element name="MannualExtraction" type="xs:boolean" />
			<!-- 3.1 feature : Support to remove invalid rows if rule validation fails. -->
			<xs:element name="isRuleValid" type="xs:boolean" default="true" />
			<!-- 3.1 feature : Contains the rule which is violated during table data 
				extraction -->
			<xs:element name="RuleViolated" type="xs:string" />
			<xs:element name="Columns">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Column"
							type="column" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dataTable">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="RuleName" type="xs:string" />
			<xs:element name="HeaderRow" type="headerRow" />
			<xs:element name="Rows">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Row"
							type="row" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="document">
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="Description" type="xs:string" />
			<xs:element name="Size" type="xs:string" />
			<xs:element name="Confidence" type="confidence" />
			<xs:element name="ConfidenceThreshold" type="confidence" />
			<xs:element name="Valid" type="xs:boolean" />
			<xs:element name="Reviewed" type="xs:boolean" />
			<xs:element name="ErrorMessage" type="xs:string" />
			<xs:element name="DocumentDisplayInfo" type="xs:string"
				default="" />
			<xs:element name="PreviousType" type="xs:string" />
			<xs:element name="DocumentLevelFields">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded"
							name="DocumentLevelField" type="docField" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pages">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Page"
							type="page" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataTables">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="DataTable"
							type="dataTable" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MultiPageTiffFile" type="xs:string" />
			<xs:element name="MultiPagePdfFile" type="xs:string" />

			<!--Elements containing paths of the multipage tiffs and pdfs in final 
				folder. -->
			<xs:element name="FinalMultiPagePdfFilePath" type="xs:string" />
			<xs:element name="FinalMultiPageTiffFilePath" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="batchLevelField">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Value" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BatchInstanceIdentifier" type="xs:string" />
				<xs:element name="BatchClassIdentifier" type="xs:string" />
				<xs:element name="BatchInstanceDescription" type="xs:string" />
				<xs:element name="UserName" type="xs:string" />
				<xs:element name="BatchClassName" type="xs:string" />
				<xs:element name="Signature" type="xs:hexBinary" />
				<xs:element name="BatchClassDescription" type="xs:string" />
				<xs:element name="BatchClassVersion" type="xs:string" />
				<xs:element name="BatchName" type="xs:string" />
				<xs:element name="BatchDescription" type="xs:string" />
				<xs:element name="BatchPriority" type="xs:string" />
				<xs:element name="BatchStatus" type="bs:batchStatus" />
				<!-- 3.1 feature : Tag added for containing the batch imported date -->
				<xs:element name="BatchCreationDate" type="xs:string" />
				<xs:element name="BatchLocalPath" type="xs:string" />
				<xs:element name="CurrentModule" type="xs:string" />
				<xs:element name="UNCFolderPath" type="xs:string" />
				<xs:element name="DocumentClassificationTypes">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded"
								name="DocumentClassificationType" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Documents">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Document"
								type="document" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BatchLevelFields">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="BatchLevelField"
								type="batchLevelField" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
